<item{{#uid}} uid="{{ . }}"{{/uid}}{{#arg}} arg="{{ . }}"{{/arg}} valid="YES" autocomplete="{{ title }}">
  {{# title }}<title>{{ . }}</title>{{/title}}
  {{# subtitle }}<subtitle>{{ . }}</subtitle>{{/subtitle}}
  {{# copy }}<text type="copy">{{ . }}</text>{{/copy}}
  {{# largeType }}<text type="largetype">{{ . }}</text>{{/largeType}}
</item>
